body{
	background-color: #FCFFFF;
	color: #010F29;
	min-width: 320px;
}

/* navigation */
#navigation-wrapper{
	background-color: #DDF1E4;
	margin: 0 auto;
	padding: 0;
}

#main-navigation{
	background-color: #DDF1E4;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

.block-wrapper{
 background-color: #C2F1CC;
 padding: 20px 0;
}
.for-pointer{
 cursor: pointer;
}

.footer-wrapper{
	background-color: #6D7385;
	color: #FCFFFF;
	padding: 20px 0;
}
.no-padding{
	padding: 0;
}

.table-head{
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #6D7385;
}

@media only screen and (max-width: 400px){
	#table_id_wrapper td{
		padding: 8px 0;
		text-align: center;
	}
	#table_id_wrapper th{
		padding: 8px 0;
		padding-right: 17px;
		text-align: center;
	}
}
@media only screen and (max-width: 700px){
	#table_id_wrapper .user-dropdown{
		left: -87px;
	}
}