<li ng-repeat="d in domain.domains">
	<div class="col-xs-12 no-padding">
		<div class="col-xs-2">
			<i class="fa fa-spinner fa-pulse fa-2x fa-fw" ng-show="load" ng-if="domain.loadComplite"></i>
			<i class="fa fa-unlock" aria-hidden="true" ng-if="!domain.loadComplite"></i>
		</div>
		<div class="col-xs-2">{{domain.name+'.'+d}}</div>
		<div class="col-xs-2"><i class="fa fa-spinner fa-pulse fa-2x fa-fw" ng-show="load" ng-if="domain.loadComplite"></i></div>
		<div class="col-xs-2"><i class="fa fa-spinner fa-pulse fa-2x fa-fw" ng-show="load" ng-if="domain.loadComplite"></i></div>
		<div class="col-xs-2" >
			<i class="fa fa-spinner fa-pulse fa-2x fa-fw" ng-show="load" ng-if="domain.loadComplite"></i>
			<i class="fa fa-shopping-cart for-pointer" aria-hidden="true" ng-if="!domain.loadComplite" ng-click="addInBascet($event, domain.name+'.'+d)"></i>
		</div>
		<div class="col-xs-2 remove for-pointer" ng-click="removeDomain($event, domain.id, d)">
			<i class="fa fa-times" aria-hidden="true"></i> Remove
		</div>
	</div>
</li>